<body>
    <div id="instructions">
        <h2>Welcome to Endless Dungeon!</h2>
        <p>In this game, you'll embark on an adventure where you'll explore dungeons, battle monsters, and uncover treasures.</p>
        <p>Use the terminal to interact with the game. Click the "Run Program" button to start your adventure!</p>
        <p>The goal is to beat the final Boss</p>
    </div>
    <button onclick="window.location.reload()">Run Program</button>
    <div id="terminal"></div>

    <script>
        var term = new Terminal({
            cols: 80,
            rows: 24
        });
        term.open(document.getElementById('terminal'));
        term.writeln('Running startup command: python3 run.py');
        term.writeln('');

        var ws = new WebSocket(location.protocol.replace('http', 'ws') + '//' + location.hostname + (location.port ? (
            ':' + location.port) : '') + '/');

        ws.onopen = function () {
            new attach.attach(term, ws);
        };

        ws.onerror = function (e) {
            console.log(e);
        };
        // Set focus in the terminal
        document.getElementsByClassName("xterm-helper-textarea")[0].focus();
    </script>
</body>